<%-include('../includes/head.ejs')%>
</head>
<body>
  <%-include('../includes/navigation.ejs')%>
  <main>
    <%if(products.length>0){%>
      <div class="centered">
        <ul class="cart__item-list">
        <%products.forEach(p=>{%>
          <li class="cart__item">
            <h1><%=p.title%></h1>
            <h2>Quantity: <%=p.cartItem.quantity%></h2>
              <form action="cartDeleteItem" method="POST
              ">
              <input type="hidden" value="<%=p.id%>" name="prodId">
                <button class="btn danger">Delete</button>
              </form>
          </li>
        <%})%>
      </ul>
      </div>
      <hr>
      <div class="centered">
        <form action="create-order" method="POST">
          <button type="submit" class="btn"> Order Now !</button>
        </form>
      </div>
    <%}else{%>
      <h1>No products in the cart</h1>
    <%}%>
  </main>
  <%-include('../includes/end.ejs')%>